@import 'tailwindcss';

@font-face {
  font-family: BradfordLL-MediumItalic;
  src: url('/BradfordLL-MediumItalic.otf');
}
@font-face {
  font-family: BradfordLL-RegularItalic;
  src: url('/BradfordLL-RegularItalic.otf');
}
@font-face {
  font-family: BradfordLL-Regular;
  src: url('/BradfordLL-Regular.otf');
}

body {
  font-family: 'BradfordLL-MediumItalic', sans-serif;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  font-size: 1.1rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}

nav > a {
  margin: 0 25px;
  align-self: center;
  color: black;
  letter-spacing: 0.13rem;
  font-size: 1.3rem;
  padding: 0 10px;
}

.carousel {
  width: 100vw;
  height: calc(100svh);
}

.carousel-wrapper {
  width: 100%;
  position: relative;
}

.carousel-click-left,
.carousel-click-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.carousel-click-left {
  left: 0;
  cursor: url('/cursor-left.svg'), pointer;
}

.carousel-click-right {
  right: 0;
  cursor: url('/cursor-right.svg'), pointer;
}

.contentWindow {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  max-width: 1400px;
}

.carouselImage {
  width: auto;
  height: auto;
  max-width: 75vw;
  max-height: 80vh;
  object-fit: contain;
}

.carouselVideo {
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 85vh;
  object-fit: contain;
}

.counter {
  font-size: 2.2rem;
}

.customLegend {
  font-size: 1rem;
  font-family: 'BradfordLL-RegularItalic', sans-serif;
  text-align: right;
}

.customLegend > p {
  font-size: 0.8rem;
}

.mediaMeta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  padding: 0 35px;
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  margin-top: 10px;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.13rem;
}

/* ======================================info page */

.informationPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.informationWrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 35px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-top: 85px;
}

.aboutSection {
  max-width: 65vw;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.4rem;
}

.contactDetailsSection {
  max-width: 50vw;
  text-align: justify;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.contactDetails {
  margin-bottom: 30px;
}

.label {
  font-size: 1.1rem;
  font-family: BradfordLL-Regular;
}

.labelValue {
  font-size: 1.4rem;
}

body > div > main > section.aboutSection > p {
  font-family: bradfordLL-RegularItalic;
  font-size: 1rem;
  margin-top: 50px;
}

.mediaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 90vw;
}

@media (max-width: 876px) {
  /* .informationPage {
    margin-top: 55px;
  } */

  .aboutSection,
  .contactDetailsSection {
    max-width: 100%;
    /* height: auto; */
  }

  .aboutSection {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .informationWrapper {
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    padding: 0;
  }

  .aboutSection,
  .contactDetailsSection {
    margin: 0;
    height: auto;
    width: 100vw;
  }

  .aboutSection {
    margin-top: 30px;
  }

  .aboutSection > p:nth-child(1) {
    margin: 55px 0 0;
    /* width: 94vw; */
  }

  nav {
    padding: 10px;
  }

  nav > a {
    margin: 0 10px;
    font-size: 1rem;
    padding: 0;
  }

  .customLegend {
    max-width: 50vw;
  }

  .mediaMeta {
    /* position: fixed; */

    bottom: 0;
    padding: 15px;
  }

  .carouselImage {
    max-width: 95vw;
  }
}

@keyframes blur-in {
  from {
    filter: blur(6px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes blur-out {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(6px);
  }
}

.blur-in {
  animation: blur-in 0.2s linear forwards;
}
.blur-out {
  animation: blur-out 0.2s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-fill-mode: both;
}
