@import 'tailwindcss';

@font-face {
  font-family: BradfordLL-MediumItalic;
  src: url('/BradfordLL-MediumItalic.otf');
}
@font-face {
  font-family: BradfordLL-RegularItalic;
  src: url('/BradfordLL-RegularItalic.otf');
}
@font-face {
  font-family: BradfordLL-Regular;
  src: url('/BradfordLL-Regular.otf');
}

body {
  font-family: 'BradfordLL-MediumItalic', sans-serif;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}

html,
body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  height: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #fff; */
}

nav > a {
  margin: 0 25px;
  align-self: center;
  color: black;
  letter-spacing: 0.13rem;
  font-size: 1.2rem;
  padding: 0 10px;
}

.carousel {
  width: 100vw;
  height: calc(100svh);
  /* height: calc(100vh - 100px); */
  /* margin-top: 50px; */
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-click-left,
.carousel-click-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.carousel-click-left {
  left: 0;
  cursor: url('/cursor-left.svg'), pointer;
}

.carousel-click-right {
  right: 0;
  cursor: url('/cursor-right.svg'), pointer;
}

.contentWindow {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  max-width: 1400px;
}

.carouselImage {
  width: auto;
  height: auto;
  max-width: 75vw;
  max-height: 70vh;
  object-fit: contain;
}

.carouselVideo {
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 85vh;
  object-fit: contain;
}

.counter {
  font-size: 2.2rem;
}

.customLegend {
  font-size: 1rem;
  font-family: 'BradfordLL-RegularItalic', sans-serif;
  text-align: right;
}

.mediaMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  margin-top: 10px;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.13rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  gap: 40px;
  position: relative;
}

.aboutSection,
.contactDetailsSection {
  max-width: 450px;
  text-align: justify;
  padding: 20px;
  align-self: flex-start;
}

.contactDetails {
  margin-bottom: 10px;
}

.label {
  font-size: 1rem;
  font-family: BradfordLL-Regular;
}

.mediaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 90vw;
}

.informationWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  height: auto;
}

.informationPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .mediaMeta {
    position: fixed; /* Stick to the viewport */
    bottom: 10px;
    left: 10px;
    z-index: 50;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding: 10px;
    border-radius: 4px;
    max-width: 90vw;
  }

  nav > a {
    margin: 0 10px;
    font-size: 1rem;
  }

  .mediaMeta .counter,
  .mediaMeta .customLegend {
    text-align: left;
    width: 100%;
  }
}
