@import 'tailwindcss';

@font-face {
  font-family: BradfordLL-MediumItalic;
  src: url('/BradfordLL-MediumItalic.otf');
}
@font-face {
  font-family: BradfordLL-RegularItalic;
  src: url('/BradfordLL-RegularItalic.otf');
}
@font-face {
  font-family: BradfordLL-Regular;
  src: url('/BradfordLL-Regular.otf');
}

@font-face {
  font-family: BradfordLL-Medium;
  src: url('/BradfordLL-Medium.otf');
}

@font-face {
  font-family: BradfordLL-BookItalic;
  src: url('/BradfordLL-BookItalic.otf');
}
@font-face {
  font-family: BradfordLL-Book;
  src: url('/BradfordLL-Book.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BradfordLL-Medium', serif;
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  font-variant: oldstyle-nums;
}

/* ======================================NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  margin-top: 5px;
  padding: 20px;
  box-sizing: border-box;
}

nav > a {
  align-self: center;
  font-size: 0.9rem;
  padding: 0;
}

.navbarTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: clamp(1.4rem, 4vw, 1.75rem);
  white-space: nowrap;
  font-family: 'BradfordLL-BookItalic', serif;
  letter-spacing: 0.05rem;
}

.nav-link.active {
  color: #000;
}

.nav-link.active::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: currentColor;
  border-radius: 50%;
  margin-right: 0.5rem;
  /* vertical-align: middle; */
}

.nav-link {
  /* color: #cecece; */
  transition: color 0.5s ease;
}

/* ======================================CAROUSEL */

.carousel {
  width: 100vw;
  height: calc(100svh);
}

.carousel-wrapper {
  width: 100%;
  position: relative;
}

.carousel-click-left,
.carousel-click-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.carousel-click-left {
  left: 0;
  cursor: url('/cursor-left.svg'), pointer;
}

.carousel-click-right {
  right: 0;
  cursor: url('/cursor-right.svg'), pointer;
}

.contentWindow {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  max-width: 1400px;
}

.carouselImage {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 75vh;
  object-fit: contain;
}

.counter {
  font-size: 2rem;
}

.customLegend {
  font-family: 'BradfordLL-RegularItalic', serif;
  text-align: right;
}

.customLegend > p {
  font-size: clamp(0.55rem, 2vw, 1rem);
}

.mediaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 90vw;
}

.mediaMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px 35px;
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  margin-top: 10px;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.13rem;
}

/* ======================================info Section */

main {
  height: calc(100vh - 100px);
  margin-top: 100px;
  font-size: clamp(1rem, 1.52vw, 2.2rem);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#information {
  scroll-margin-top: 80px;
  padding: 0 20px;
}

.aboutText {
  font-family: BradfordLL-Book;
  text-align: center;
  width: 60vw;
  max-width: 1250px;
  margin: 0 auto;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.name {
  font-family: BradfordLL-MediumItalic;
}

/* ======================================CONTACT DETAILS */

.contactDetailsSection {
  padding: 80px 20px 0;
  text-align: center;
  line-height: 1.2;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

.italicHover {
  transition: font-family 0.2s ease-in-out;
}

.italicHover:hover {
  font-family: 'BradfordLL-MediumItalic', serif;
}

/* MEDIA QUERIES ************************************************************* */

@media (max-width: 876px) {
  .aboutSection,
  .contactDetailsSection {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  main {
    padding-bottom: 200px;
  }

  .aboutSection,
  .contactDetailsSection {
    margin: 0;
    height: auto;
    width: 100vw;
  }

  .aboutSection {
    margin-top: 70px;
    font-size: 1.2rem;
  }

  .labelValue {
    letter-spacing: 0.075rem;
  }

  nav {
    padding: 10px;
  }

  nav > a {
    margin: 30px 0px;
    font-size: 0.75rem;
    padding: 0;
  }

  .mediaMeta {
    bottom: 0;
    padding: 20px 10px;
  }

  .carouselImage {
    max-height: 65vh;
    max-width: 95vw;
  }

  .counter {
    font-size: 1.3rem;
  }

  .aboutText {
    margin-top: 40px;
    width: 100%;
  }

  .contactDetails {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
    gap: 10px;
  }

  .socialMedia {
    gap: 5px;
  }
}

/* ANIMATIONS ************************************************************* */

@keyframes blur-in {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes blur-out {
  from {
    filter: blur(0);
    opacity: 1;
  }
  to {
    filter: blur(2px);
    opacity: 0;
  }
}

.blur-in {
  animation: blur-in 0.4s ease-in forwards;
}
.blur-out {
  animation: blur-out 0.4s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-fill-mode: both;
}
